<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--&lt;!&ndash;创建Service对象&ndash;&gt;-->
    <!--<bean class="com.imust.service.Impl.AccountService" id="accountService">-->
        <!--<property name="accountDao" ref="accountDao"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;创建AccountDao对象&ndash;&gt;-->
    <!--<bean class="com.imust.dao.Impl.AccountDao" id="accountDao">-->
        <!--<property name="queryRunner" ref="queryRunner"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置QueryRunner对象&ndash;&gt;-->
    <!--<bean class="org.apache.commons.dbutils.QueryRunner" scope="prototype" id="queryRunner">-->
        <!--&lt;!&ndash;配置数据源&ndash;&gt;-->
        <!--<constructor-arg name="ds" ref="dataSource"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置C3p0的数据源&ndash;&gt;-->
    <!--<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/eesy"/>-->
        <!--<property name="user" value="root"/>-->
        <!--<property name="password" value="123456"/>-->
    <!--</bean>-->
</beans>